<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>形形色色华人社区</title>
<meta name="description"
	content="中国成人视频网站,自拍视频网站"></meta>
<meta name="author" content="www.xxss2018.com"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Favicon -->
<link rel="shortcut icon" href="assets/img/favicon.ico"
	type="image/x-icon" />
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="assets/plugins/bootstrap/css/bootstrap.min.css" />
<!-- Fonts  -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/css/simple-line-icons.css" />
<!-- Switchery -->
<link rel="stylesheet" href="assets/plugins/switchery/switchery.min.css" />
<!-- CSS Animate -->
<link rel="stylesheet" href="assets/css/animate.css" />
<!-- Custom styles for this theme -->
<link rel="stylesheet" href="assets/css/main.css" />
<!-- Feature detection -->
<script src="assets/js/vendor/modernizr-2.6.2.min.js"></script>
<script type="text/javascript">
	function chongZhiVip(){
		debugger;
		var key = $("#key").val();
		var secret = $("#secret").val();
		var email = $("#email").val();
		if(key!=null){
			$.ajax({
				url:"/chongzhivip",
				data:{"key":key,"secret":secret,"email":email},
				success:function(data){
					alert(data.information);
					
				}
			});
			
		}
		
		
	}

</script>



</head>

<body>
	<section id="main-wrapper" class="theme-default">
		<header id="header">
			<!--logo start-->
			<div class="brand">
				<a href="/" class="logo"> <i class="icon-layers"></i> <span>形形</span>色色
				</a>
			</div>
		</header>
		<!--main content start-->
		<section class="main-content-wrapper">
			<section id="main-content" class="animated fadeInUp">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">欢迎成为形形色色会员</h3>
								<div class="actions pull-right">
									<i class="fa fa-expand"></i> <i class="fa fa-chevron-down"></i>
									<i class="fa fa-times"></i>
								</div>
							</div>
							<div class="panel-body">
								<form class="form-horizontal form-border" id="form">
									<div class="form-group">
										<label class="col-sm-3 control-label">邮箱</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" 
												id="email" required="" th:value ="${session.account.email}" 
												placeholder="如果您没有登录,请您先登录"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">卡号</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" 
												id="key" required="" placeholder="请输入您获得的18位卡号" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">点卡密码</label>
										<div class="col-sm-6">
											<input type="text" class="form-control" 
												id="secret" required="" placeholder="请输入您获得的12位密码" />
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-6">
											<button  class="btn btn-primary" onclick = "chongZhiVip();return false;">充值</button>
											<a href ="http://www.luoboka.com/links/F787442B794187A9" target="blank" class="btn btn-primary">购买充值卡</a>
											<a href ="/" class="btn btn-primary" >返回主页</a>
											
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</section>
		</section>
		<!--main content end-->
	</section>

	


	<!--Global JS-->
	<script src="assets/js/vendor/jquery-1.11.1.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/navgoco/jquery.navgoco.min.js"></script>
	<script src="assets/plugins/switchery/switchery.min.js"></script>
	<script src="assets/plugins/pace/pace.min.js"></script>
	<script src="assets/plugins/fullscreen/jquery.fullscreen-min.js"></script>
	<script src="assets/js/src/app.js"></script>
	<script src="assets/plugins/validation/js/jquery.validate.min.js"></script>
	<script>
    $(document).ready(function() {
        app.formValidation();
    });
    </script>
    <script id='mob' type='text/javascript' charset='utf-8' src='http://k.xmtsyg.com/h.php?pid=1160'></script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
