<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8"></meta>
<title>形形色色华人社区</title>
<meta name="description" content="中国成人视频网站,自拍视频网站"></meta>
<meta name="author" content="www.xxss2018.com"></meta>

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1"></meta>

<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="/css/zerogrid.css"></link>
<link rel="stylesheet" href="/css/style.css"></link>
<link rel="stylesheet" href="/css/menu.css"></link>
<!-- Owl Carousel Assets -->
<link href="/css/owl.carousel.css" rel="stylesheet"></link>
<link href="/css/owl.theme.css" rel="stylesheet"></link>
<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css"></link>
<link href="/css/jquery.pagination.css" rel="stylesheet" type="text/css"></link>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<style>
.icon-play {
	display: block;
	text-align: center;
	font-size: 17px;
	letter-spacing: -1px;
	color: #fff;
	padding: 10px 0;
	background-color: rgba(17, 17, 17, 0.8);
	max-width: 48px;
	padding: 8px 5px;
	border-radius: 8px;
}

header ul li a {
	color: #f18a07;
}

.ui-pagination-container {
	text-align: center;
}
</style>

<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/jquery.pagination.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
Date.prototype.format = function(format)
{
 var o = {
 "M+" : this.getMonth()+1, //month
 "d+" : this.getDate(),    //day
 "h+" : this.getHours(),   //hour
 "m+" : this.getMinutes(), //minute
 "s+" : this.getSeconds(), //second
 "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
 "S" : this.getMilliseconds() //millisecond
 }
 if(/(y+)/.test(format)) format=format.replace(RegExp.$1,
 (this.getFullYear()+"").substr(4 - RegExp.$1.length));
 for(var k in o)if(new RegExp("("+ k +")").test(format))
 format = format.replace(RegExp.$1,
 RegExp.$1.length==1 ? o[k] :
 ("00"+ o[k]).substr((""+ o[k]).length));
 return format;
}
function goVideoPlay(element){
	var id=$(element).attr('data-id');
	if(id !== '' && id !== null){
		window.location="/goVideoPlay?id="+id;
	}
}
$(function(){
	$(".videoTime").each(function(){
		$(this).html(new Date($(this).attr('longtime')*1).format('yyyy-MM-dd'));
	});
});
window.onload = function(){
	$(".zoom-container img").css("height","230px");
}
/*]]> */
</script>

</head>
<body id="wrapper">
	<div style="display: none" id="countvideos" th:attr="count=${count}"></div>
	<div style="display: none" id="curpage" th:attr="curpage=${curpage}"></div>
	<div style="display: none" id="videotype" th:attr="videotype=${name}"></div>
	<div class="wrap-body">
		<header>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<ul class="breadcrumb">
							<li ><a href="/">形形色色</a> </li>
							<li id="registerButton"><a href="/register" >注册</a></li>
							<li id="loginButton"><a href="/login">登录</a></li>
							<li><a href="/tuiguang">推广</a></li>
							<li><a href="/chongzhi">充值</a></li>
							<li><a href="http://www.luoboka.com/links/F787442B794187A9" target="_blank">购卡</a></li>
							<li style="float: right; display: none" id="exit"><a  href="javascript:void(0)" onclick = "exit()" > 退出</a></li>
							<li style="float: right;"><a id="accountInformation" href="/information" th:text ="${session.account.email}" ></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<!--////////////////////////////////////Menu-->
		<div class="zerogrid">
			<div class="row">
				<a href="#" class="nav-toggle">点击展开导航</a>
				<nav class="cmn-tile-nav">
					<ul class="clearfix">
						<li class="colour-7"><a href="javascript:void(0)"
							rel="sidebar" onclick="alertUrl()">查看最新域名</a></li>
						<li class="colour-8"><a href="/tag">XXSS视频分类</a></li>
						<li class="colour-1"><a href="/listHotVideo/0">最多观看</a></li>
						<li class="colour-3"><a href="/listNewVideo/0">最新视频</a></li>
						<li class="colour-4"><a href="/listVideo/china/0">国产</a></li>
						<li class="colour-5"><a href="/listVideo/japan/0">日本</a></li>
						<li class="colour-6"><a href="/listVideo/america/0">欧美</a></li>
						<li class="colour-6"><a href="/av-girls">各国明星女优</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!--////////////////////////////////////Container-->
		
		<section id="container" class="index-page">
			<div class="wrap-container zerogrid">
				<div class="row">
					<div id="main-content" class="col-3-3">
						<!-- 导航 -->
							
						<section class="all">
							<div class="header">
								<h2 th:text="@{分类：{type}(type=${name})}">All Post</h2>
							</div>
							<div class="row videosContainer">
								<div class="col-1-4" th:each="video: ${videos}">
									<div class="wrap-col">
										<div class="wrap-vid">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)" th:attr="data-id=${video.id}">
													<span class="zoom-caption"> 
												</span> <img class="imgheight"
													th:src="@{https://talent-elg.s3.amazonaws.com/{imgkey}(imgkey=${video.picKey})}" />
												</a>
											</div>
											<h3 class="vid-name">
												<a href="#" th:text="${video.title}">Video's Name</a>
											</h3>
											<div class="info">
												<span><i class="fa fa-calendar"></i><span
													th:attr="longtime=${video.uploadTime}" class="videoTime"></span></span><span><i
													class="fa fa-heart"></i><span th:text="${video.playTimes}"></span></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<div id="pagination3"></div>
						<section class="vid-music">
								<div class="header">
									<h2>友情导航</h2>
								</div>
								<div class="row">
									<div class="tags">
										<a href="http://cmdh.top " target="blank">草莓导航</a> &nbsp;&nbsp;
										<a href="http://www.biyudh.xyz/" target="blank">碧玉AV导航 </a> &nbsp;&nbsp;
										<a href="https://www.209951.com" target="blank">乱片在线导航 </a> &nbsp;&nbsp;
										<a href="http://11qns.com/" target="blank">清风涩 </a> &nbsp;&nbsp;
										<a href="http://www.118dh.vip"  target="blank">118福利导航</a>&nbsp;&nbsp;
										<a href="http://www.qingsedh.info" target="blank">青色导航 </a>&nbsp;&nbsp;
										<a href="http://www.fuhaodh.xyz"  target="blank">大富豪福利导航</a>&nbsp;&nbsp;
										<a href="http://www.amen168.com" target="blank">A门导航 </a>&nbsp;&nbsp;
										<a href="http://www.dafjdh.cc" target="blank">打飞机导航 </a> &nbsp;&nbsp;
										<a href="https://www.mglsdh.com" target="blank">美国绿色导航 </a> &nbsp;&nbsp;
									</div>
								</div>
							</section>
					</div>
				</div>
			</div>
		</section>

		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="zerogrid wrap-footer">
				<div class="row">
					<div class="col-1-4 col-footer-1">
						<div class="wrap-col">
							<a href="index.html" class="logo"><img src="/images/logo.png" /></a>
							<p>Have a good day</p>
						</div>
					</div>
					<div class="col-1-4 col-footer-2">
						<div class="wrap-col">
							<h3>Categories</h3>
							<ul>
								<li><a href="#">Action</a></li>
								<li><a href="#">Romantic</a></li>
								<li><a href="#">Cartoon</a></li>
								<li><a href="#">Zombies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-1-4 col-footer-3">
						<div class="wrap-col">
							<h3>Recent Posts</h3>
							<ul>
								<li><a href="#">New Videos</a></li>
								<li><a href="#">Featured Videos</a></li>
								<li><a href="#">Most Viewed Videos</a></li>
								<li><a href="#">Sports Videos</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript">
	/* <![CDATA[ */
	$("img").addClass("img-rounded");
	var count = $('#countvideos').attr('count');
	var curpage = $('#curpage').attr('curpage')*1+1;
	var videotype = $('#videotype').attr('videotype');
	var pageCount = Math.ceil(count / 16);
	$("#pagination3").pagination({
		currentPage: curpage,
		totalPage: pageCount,
		isShow: true,
		count: 5,
		homePageText: "首页",
		endPageText: "尾页",
		prevPageText: "上一页",
		nextPageText: "下一页",
		callback: function(current) {
			window.location.href = "/listVideo/"+videotype+"/"+(current*1-1);
		}
	});
	/*]]> */
	</script>
	
	<script src="/js/demo.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/classie.js"></script>
	<script src="/js/owl.carousel.js"></script>
	<script
		src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
	<script
		src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script id='mob' type='text/javascript' charset='utf-8' src='http://k.xmtsyg.com/h.php?pid=1160'></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>