<!DOCTYPE html>
<html>
<head>


<meta charset="utf-8"></meta>
<title>形形色色华人社区</title>
<meta name="description"
	content="中国成人视频网站,自拍视频网站,各国成人电影"></meta>
<meta name="author" content="www.xxss2018.com"></meta>
<meta name="baidu-site-verification" content="qj7Vy4L8cU" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1"></meta>

<link rel="stylesheet" href="../css/zerogrid.css" />
<link rel="stylesheet" href="../css/style.css" />
<link rel="stylesheet" href="../css/menu.css" />
<link rel="stylesheet" href="../css/owl.carousel.css" />
<link rel="stylesheet" href="../css/owl.theme.css" />
<link rel="stylesheet" href="../css/owl.carousel.css" />

<link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css"></link>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>

<style type="text/css">
h3, .h3 {
	font-size: 18px !important;
	color: #ffa700e0 !important
}
header ul li a {
    
    color: #f18a07;
}
.row {
	margin-right: 0px !important;
	margin-left: 0px  !important;
}

.con {
	float: left;
	width: 120px;
	margin: 0 20px 5px 10px;
	_overflow: hidden;
	_height: 66px;
	padding: 15px 0 16px 10px;
	height: 66px;
	border-bottom: 1px solid #f3f3f3;
}

.con a {
	margin-bottom: 4px;
	display: inline-block;
	font-family: arial "MicroSoft YaHei";
	font-weight: bold;
	color: #014cd2;
	text-decoration: none;
}

a:link {
	color: #0000cc;
}

.con span {
	font-family: arial, "Sim Sun";
	font-size: 12px;
	color: #666;
	height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	margin-top: 4px;
}

.abg {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	margin-right: 8px;
	overflow: hidden;
	background: url(images/tag.png) no-repeat left top;
}
</style>



<script type="text/javascript">
	/* <![CDATA[ */
	var baseS3URL = "https://talent-elg.s3.amazonaws.com/";
	var picHeight=240 ;
	$(document).ready(
			function() {
				//获取最新的视频图片
				
				$.ajax({
					url : "/video/getNewVideoPic",
					success : function(data) {
						for (var i = 1; i < data.length + 1; i++) {
							$("#new-view-" + i + " img").attr("src",
									baseS3URL + data[i - 1].picKey);
							$("#new-view-" + i + " img").attr("height",picHeight+"px");
							$("#new-view-" + i + " a").attr("data-id",
									data[i - 1].id);
							$("#new-view-" + i + " .vid-name").attr("alt",
									data[i - 1].title);
							$("#new-view-" + i + " .owner").text(
									data[i - 1].owner);
							$("#new-view-" + i + " .uploadtime").text(
									formatDateTime(data[i - 1].uploadTime));
							$("#new-view-" + i + " .vid-name").text(
									data[i - 1].title);
							$("#new-view-" + i + " .playtimes").html(
									'<i class="fa fa-heart"></i>'
											+ data[i - 1].playTimes);
						}
					}
				});
				
				
				
				
				
				$.ajax({
					url : "/video/getMostViewedPic",
					success : function(data) {
						for (var i = 1; i < data.length + 1; i++) {
							$("#most-view-" + i + " img").attr("src",
									baseS3URL + data[i - 1].picKey);
							$("#most-view-" + i + " img").attr("height",picHeight+"px");
							$("#most-view-" + i + " a").attr("data-id",
									data[i - 1].id);
							$("#most-view-" + i + " .vid-name").attr("alt",
									data[i - 1].title);
							$("#most-view-" + i + " .owner").text(
									data[i - 1].owner);
							$("#most-view-" + i + " .uploadtime").text(
									formatDateTime(data[i - 1].uploadTime));
							$("#most-view-" + i + " .vid-name").text(
									data[i - 1].title);
							$("#most-view-" + i + " .playtimes").html(
									'<i class="fa fa-heart"></i>'
											+ data[i - 1].playTimes);
						}
					}
				});
				$.ajax({
					url : "/video/getChinaViewPic",
					success : function(data) {
						for (var i = 1; i < data.length + 1; i++) {
							$("#china-view-" + i + " img").attr("src",
									baseS3URL + data[i - 1].picKey);
							$("#china-view-" + i + " img").attr("height",picHeight+"px");
							$("#china-view-" + i + " a").attr("data-id",
									data[i - 1].id);
							$("#china-view-" + i + " .vid-name").attr("alt",
									data[i - 1].title);
							$("#china-view-" + i + " .owner").text(
									data[i - 1].owner);
							$("#china-view-" + i + " .uploadtime").text(
									formatDateTime(data[i - 1].uploadTime));
							$("#china-view-" + i + " .vid-name").text(
									data[i - 1].title);
							$("#china-view-" + i + " .playtimes").html(
									'<i class="fa fa-heart"></i>'
											+ data[i - 1].playTimes);
						}
					}
				});
				$.ajax({
					url : "/video/getAmericaViewPic",
					success : function(data) {
						for (var i = 1; i < data.length + 1; i++) {
							$("#america-view-" + i + " img").attr("src",
									baseS3URL + data[i - 1].picKey);
							$("#america-view-" + i + " img").attr("height",picHeight+"px");
							$("#america-view-" + i + " a").attr("data-id",
									data[i - 1].id);
							$("#america-view-" + i + " .vid-name").attr("alt",
									data[i - 1].title);
							$("#america-view-" + i + " .owner").text(
									data[i - 1].owner);
							$("#america-view-" + i + " .uploadtime").text(
									formatDateTime(data[i - 1].uploadTime));
							$("#america-view-" + i + " .vid-name").text(
									data[i - 1].title);
							$("#america-view-" + i + " .playtimes").html(
									'<i class="fa fa-heart"></i>'
											+ data[i - 1].playTimes);
						}
						
						
					}
				});
				
				
				
				
				
			});
	function goVideoPlay(element) {
		id = $(element).attr('data-id');
		if (id !== '' && id !== null) {
			window.location = "/goVideoPlay?id=" + id;
		}

	}

	

	
	
	/*]]> */
</script>


</head>
<body id="wrapper">
	<div class="wrap-body">
		<header>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<ul class="breadcrumb">
							<li ><a href="/">形形色色</a> </li>
							<li id="registerButton"><a href="/register" >注册</a></li>
							<li id="loginButton"><a href="/login">登录</a></li>
							<li><a href="/tuiguang">推广</a></li>
							<li><a href="/chongzhi">充值</a></li>
							<li><a href="http://www.luoboka.com/links/F787442B794187A9" target="_blank">购卡</a></li>
							<li style="float: right; display: none" id="exit"><a  href="javascript:void(0)" onclick = "exit()" > 退出</a></li>
							<li style="float: right;"><a id="accountInformation" href="/information" th:text ="${session.account.email}" ></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<!--////////////////////////////////////Menu-->
		<div class="zerogrid">
			<div class="row">
				<a href="#" class="nav-toggle">点击展开导航</a>
				<nav class="cmn-tile-nav">
					<ul class="clearfix">
						<li class="colour-7"><a href="javascript:void(0)"
							rel="sidebar" onclick="alertUrl()">查看最新域名</a></li>
						<li class="colour-8"><a href="/tag">XXSS视频分类</a></li>
						<li class="colour-1"><a href="/listHotVideo/0">最多观看</a></li>
						<li class="colour-3"><a href="/listNewVideo/0">最新视频</a></li>
						<li class="colour-4"><a href="/listVideo/china/0">国产</a></li>
						<li class="colour-5"><a href="/listVideo/japan/0">日本</a></li>
						<li class="colour-6"><a href="/listVideo/america/0">欧美</a></li>
						<li class="colour-6"><a href="/av-girls">各国明星女优</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!--////////////////////////////////////Container-->
		<section id="container" class="index-page">
			<div class="wrap-container zerogrid">
				<div class="row">
					<div id="main-content" class="col-4-4">
						<div class="wrap-content">
							<section class="vid-tv">
								<div class="row header">
									<a href="/listNewVideo/0"><h2>最新视频</h2></a>
								</div>
								<div class="row">
									<div id="owl-demo-4" class="owl-carousel">
										<div class="item wrap-vid" id="new-view-1">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"> <i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="new-view-2">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="new-view-3">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="new-view-4">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="new-view-5">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span><i class="fa fa-calendar"></i></span> <span
													class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="new-view-6">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="new-view-7">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="new-view-8">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>


									</div>
								</div>
							</section>
						
						
						
						
						
						
						
						
							<section class="vid-tv">
								<div class="row header">
									<a href="/listHotVideo/0"><h2>最多播放</h2></a>
								</div>
								<div class="row">
									<div id="owl-demo-1" class="owl-carousel">
										<div class="item wrap-vid" id="most-view-1">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"> <i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="most-view-2">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="most-view-3">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="most-view-4">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="most-view-5">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span><i class="fa fa-calendar"></i></span> <span
													class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="most-view-6">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="most-view-7">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="most-view-8">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>


									</div>
								</div>
							</section>

							<section class="vid-sport">
								<div class="row header">
									<a href="/listVideo/china/0"><h2>国产自拍</h2></a>
								</div>
								<div class="row">
									<div id="owl-demo-2" class="owl-carousel">
										<div class="item wrap-vid" id="china-view-1">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"> <i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="china-view-2">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="china-view-3">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="china-view-4">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="china-view-5">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span><i class="fa fa-calendar"></i></span> <span
													class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="china-view-6">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="china-view-7">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="china-view-8">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
									</div>
								</div>
							</section>

							<section class="vid-music">
								<div class="row header">
									<a href="/listVideo/america/0"><h2>欧美视频</h2></a>
								</div>
								<div class="row">
									<div id="owl-demo-3" class="owl-carousel">
										<div class="item wrap-vid" id="america-view-1">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"> <i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="america-view-2">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="america-view-3">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="america-view-4">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="america-view-5">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span><i class="fa fa-calendar"></i></span> <span
													class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="america-view-6">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="america-view-7">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
										<div class="item wrap-vid" id="america-view-8">
											<div class="zoom-container">
												<a class="goVideoPlay" href="javascript:void(0);"
													onclick="goVideoPlay(this)"> <span class="zoom-caption">
														
												</span> <img />
												</a>
											</div>
											<h3 class="vid-name">
												<a></a>
											</h3>
											<div class="info">
												<h5>
													By <a href="#" class="owner"></a>
												</h5>
												<span class="uploadtime"><i class="fa fa-calendar"></i></span>
												<span class="playtimes"><i class="fa fa-heart"></i></span>
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- 导航 -->
		<section id="container" class="index-page">
			<div class="wrap-container zerogrid">
				<div class="row">
					<div id="main-content" class="col-4-8">
						<div class="wrap-vid">
							<div class="con">
								<div>
									<a href="http://zhaoav.video" target="_blank" title="找AV导航" rel="nofollow">找AV导航</a>
								</div>
								<div>
									<a href="http://www.mdrkj.com/xxfldh" target="_blank" title="小X福利导航" rel="nofollow">小X福利导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://www.laosegui.one" target="_blank" title="老色鬼福利导航" rel="nofollow">老色鬼福利导航</a>
								</div>
								<div>
									<a href="https://www.mdrkj.com/136dh/" target="_blank" title="136福利导航" rel="nofollow">136福利导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://una123.com" target="_blank" title="123导航" rel="nofollow">123导航</a>
								</div>
								<div>
									<a href="http://www.ifse.xyz" target="_blank" title="爱妃色导航" rel="nofollow">爱妃色导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://www.yinuuu.xyz/" target="_blank" title="银色导航 " rel="nofollow">银色导航 </a>
								</div>
								<div>
									<a href="http://xuebdh.club" target="_blank" title="雪B导航 " rel="nofollow">雪B导航 </a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://clski.com" target="_blank" title="苍狼导航" rel="nofollow">苍狼导航</a>
								</div>
								<div>
									<a href="http://byyyh.top/" target="_blank" title="秀色导航" rel="nofollow">秀色导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://jzdh.in/" target="_blank" title="九州导航" rel="nofollow">九州导航</a>
								</div>
								<div>
									<a href="http://www.amen168.com" target="_blank" title="A门导航" rel="nofollow">A门导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://www.mn1.club/" target="_blank" title="媚娘福利导航" rel="nofollow">媚娘福利导航</a>
								</div>
								<div>
									<a href="http://www.cxdh1.xyz" target="_blank" title="插穴福利导航" rel="nofollow">插穴福利导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href=" http://www.bjh.space" target="_blank" title="爆菊花福利导航" rel="nofollow">爆菊花福利导航</a>
								</div>
								<div>
									<a href="http://www.pstdh.xyz" target="_blank" title="品色堂導航" rel="nofollow">品色堂導航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://www.13mj.xyz" target="_blank" title="十三名妓導航" rel="nofollow">十三名妓導航</a>
								</div>
								<div>
									<a href=" http://yes102.com" target="_blank" title="Yes104导航" rel="nofollow">Yes104导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://sexiaohai.cc" target="_blank" title="色小孩导航" rel="nofollow">色小孩导航</a>
								</div>
								<div>
									<a href="http://www.aidh.vip" target="_blank" title="爱导航" rel="nofollow">爱导航</a>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="http://www.666dh.vip" target="_blank" title="六六六导航" rel="nofollow">六六六导航</a>
								</div>
								<div>
									<a href="http://www.888dh.vip" target="_blank" title="888导航" rel="nofollow">888导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.999dh.vip" target="_blank" title="九九九导航" rel="nofollow">九九九导航</a>
								</div>
								<div>
									<a href="http://www.xbdh.xyz" target="_blank" title="小白导航" rel="nofollow">小白导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.nrdh.xyz" target="_blank" title="男人导航" rel="nofollow">男人导航</a>
								</div>
								<div>
									<a href="http://www.mndh.xyz" target="_blank" title="美女导航" rel="nofollow">美女导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.wndh.xyz" target="_blank" title="万能导航" rel="nofollow">万能导航</a>
								</div>
								<div>
									<a href="http://ak.zhuqinbao.com" target="_blank" title="撸出血精品导航网" rel="nofollow">撸出血精品导航网</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://rs7j.com/" target="_blank" title="手机看片" rel="nofollow">手机看片</a>
								</div>
								<div>
									<a href="http://www.msex365.com" target="_blank" title="msex365偷拍视频" rel="nofollow">msex365偷拍视频</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://mhcdh.top/ " target="_blank" title="小姐姐导航 " rel="nofollow">小姐姐导航 </a>
								</div>
								<div>
									<a href="http://xlydh.top/" target="_blank" title="琪琪约导航" rel="nofollow">琪琪约导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://fuck1.ga/" target="_blank" title="色请屋" rel="nofollow">色请屋</a>
								</div>
								<div>
									<a href="http://fuck1.cf/" target="_blank" title="色狼基地" rel="nofollow">色狼基地</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://fuck1.ml/" target="_blank" title="色老板" rel="nofollow">色老板</a>
								</div>
								<div>
									<a href="http://fuck1.gq/" target="_blank" title="色满堂" rel="nofollow">色满堂</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://fuck1.tk/" target="_blank" title="狼人阁" rel="nofollow">狼人阁</a>
								</div>
								<div>
									<a href="http://5esx.com" target="_blank" title="吾二师兄" rel="nofollow">吾二师兄</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://thydh.top/" target="_blank" title="小妹妹导航" rel="nofollow">小妹妹导航</a>
								</div>
								<div>
									<a href="http://xyjdh.top/" target="_blank" title="校花香导航" rel="nofollow">校花香导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://mgbdh.top/" target="_blank" title="熊孩子导航" rel="nofollow">熊孩子导航</a>
								</div>
								<div>
									<a href="http://www.daohang678.com" target="_blank" title="导航678" rel="nofollow">导航678</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.slwo1.xyz" target="_blank" title="色狼窝導航" rel="nofollow">色狼窝導航</a>
								</div>
								<div>
									<a href="http://www.snfl.xyz" target="_blank" title="少女色導航" rel="nofollow">少女色導航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.2017dh.xyz" target="_blank" title="2017狼導航" rel="nofollow">2017狼導航</a>
								</div>
								<div>
									<a href="http://www.csfl.xyz" target="_blank" title="春色福利導航" rel="nofollow">春色福利導航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.pstdh.xyz" target="_blank" title="品色堂導航" rel="nofollow">品色堂導航</a>
								</div>
								<div>
									<a href="http://www.74fl.xyz" target="_blank" title="【骑士導航】" rel="nofollow">【骑士導航】</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.fulidg.xyz" target="_blank" title="福利帝国導航" rel="nofollow">福利帝国導航</a>
								</div>
								<div>
									<a href="http://www.fuliyedh.com" target="_blank" title="福利夜导航" rel="nofollow">福利夜导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.huafl.xyz" target="_blank" title="華人社導航" rel="nofollow">華人社導航</a>
								</div>
								<div>
									<a href="http://router520.xyz/" target="_blank" title="91导航" rel="nofollow">91导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://Hackziyuan.cc" target="_blank" title="HACK资源论坛" rel="nofollow">HACK资源论坛</a>
								</div>
								<div>
									<a href="https://www.qqc.site" target="_blank" title="青青草导航" rel="nofollow">青青草导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.52a.me" target="_blank" title="我爱操" rel="nofollow">我爱操</a>
								</div>
								<div>
									<a href="http://hmmdh.top/" target="_blank" title="黑科技导航" rel="nofollow">黑科技导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://harr888.top/" target="_blank" title="骚妹妹导航" rel="nofollow">骚妹妹导航</a>
								</div>
								<div>
									<a href="http://www.iwgdh.vip" target="_blank" title="萬国精品导航" rel="nofollow">萬国精品导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://dier2.xyz" target="_blank" title="第二导航" rel="nofollow">第二导航</a>
								</div>
								<div>
									<a href="http://www.hs180.top" target="_blank" title="如花导航" rel="nofollow">如花导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.66ydh.com" target="_blank" title="超碰轻草导航" rel="nofollow">超碰轻草导航</a>
								</div>
								<div>
									<a href="http://www.wuyedh8.com" target="_blank" title="午夜导航" rel="nofollow">午夜导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://www.javdh8.com" target="_blank" title="JAV导航" rel="nofollow">JAV导航</a>
								</div>
								<div>
									<a href="https://seboshilian.com" target="_blank" title="色博士导航" rel="nofollow">色博士导航</a>
								</div>
							</div>
							
							
							<div class="con">
								<div>
									<a href="https://ningmengdh.net" target="_blank" title="柠檬导航" rel="nofollow">柠檬导航</a>
								</div>
								<div>
									<a href="https://ningmengdh1.com" target="_blank" title="青柠导航" rel="nofollow">青柠导航</a>
								</div>
							</div>
							
							<div class="con">
								<div>
									<a href="http://xlldh.top" target="_blank" title="小萝莉导航" rel="nofollow">小萝莉导航</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--////////////////////////////////////Footer-->
		<footer>
			<div class="zerogrid wrap-footer">
			
			</div>
		</footer>
		<!-- Slider -->

		<script src="../js/demo.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/classie.js"></script>
		<script src="../js/owl.carousel.js"></script>

		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
		<script
			src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
		<script
			src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {

				$("#owl-demo-1").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});
				$("#owl-demo-2").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});
				$("#owl-demo-3").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});
				$("#owl-demo-4").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});
			});

			window.onload = function() {
				
			}
		</script>
	</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>