<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>形形色色华人社区</title>
<meta name="description" content="中国成人视频网站,自拍视频网站"></meta>
<meta name="author" content="www.xxss2018.com"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Favicon -->
<link rel="shortcut icon" href="assets/img/favicon.ico"
	type="image/x-icon" />
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="assets/plugins/bootstrap/css/bootstrap.min.css" />
<!-- Fonts  -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/css/simple-line-icons.css" />
<!-- CSS Animate -->
<link rel="stylesheet" href="assets/css/animate.css" />
<!-- Custom styles for this theme -->
<link rel="stylesheet" href="assets/css/main.css" />
<!-- Feature detection -->
<script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
<script src="/js/util.js"></script>
<script type="text/javascript">
	/* <![CDATA[ */	
	function registerAccount(){
			debugger;
			var email = $("#email").val();
			var password = $("#password").val();
			var retypePassword = $("#retypePassword").val();
			var referrer = $("#referrer").val();
			if(password !== retypePassword){
				alert("两次密码输入不一致");
				return;
			}
			if(isEmail(email)==false){
				alert("请输入正确的邮箱格式");
				return;
			}
			$.ajax({
				url :"/zhuce",
				data :{"email":email,"password":password,"referrer":referrer},
				success : function(data){
					debugger;
					if(data.success == true){
						alert(data.information);
						window.location.href = "/login";
					}else{
						alert(data.information);
					}
				}
			});
		}
	/*]]> */
	</script>
</head>

<body>
	<section class="container animated fadeInUp">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="login-wrapper">
					<header>
						<div class="brand">
							<a href="index.html" class="logo"> <i class="icon-layers"></i>
								<span>形形</span>色色
							</a>
						</div>
					</header>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">注册</h3>
						</div>
						<div class="panel-body">
							<p>
								已经拥有形形色色账号? <a href="/login"><strong>&nbsp;&nbsp;登录</strong></a>
							</p>
							<form role="form">
								<div class="form-group">
									<label for="exampleInputPassword1">邮箱</label> <input
										type="email" class="form-control" id="email"
										placeholder="请输入你的邮箱,防止与网站失联" />
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">密码</label> <input
										type="password" class="form-control" id="password"
										placeholder="请输入密码" />
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">确认密码</label> <input
										type="password" class="form-control" id="retypePassword"
										placeholder="请输入密码" />
								</div>
								<div class="form-group">
									<label for="referrer">邀请人</label> <input
										type="email" class="form-control" id="referrer"
										placeholder="请填写邀请人,如果没有可不填" />
								</div>
								

								<a href="javascript:void(0)" onclick="registerAccount()"
									class="btn btn-primary btn-block">注册</a>


							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!--Global JS-->
	<script src="assets/js/vendor/jquery-1.11.1.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/navgoco/jquery.navgoco.min.js"></script>
	<script src="assets/plugins/pace/pace.min.js"></script>
	<script src="assets/js/src/app.js"></script>
	
<script id='mob' type='text/javascript' charset='utf-8' src='http://k.xmtsyg.com/h.php?pid=1160'></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
	
</body>

</html>
