<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8"></meta>
<title>形形色色</title>
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1"></meta>

<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="css/zerogrid.css"></link>
<link rel="stylesheet" href="css/style.css"></link>
<link rel="stylesheet" href="css/menu.css"></link>
<!-- Owl Carousel Assets -->
<link href="css/owl.carousel.css" rel="stylesheet"></link>
<link href="css/owl.theme.css" rel="stylesheet"></link>
<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css"></link>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<style type="text/css">
header ul li a {
	color: #f18a07;
}

body {
	margin: 0;
	padding: 7px 0 0;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}

.con {
	float: left;
	width: 200px;
	margin: 0 20px 5px 10px;
	_overflow: hidden;
	_height: 66px;
	padding: 15px 0 16px 10px;
	height: 66px;
	border-bottom: 1px solid #f3f3f3;
}

.con a {
	margin-bottom: 4px;
	display: inline-block;
	font-family: arial "MicroSoft YaHei";
	font-weight: bold;
	color: #014cd2;
	text-decoration: none;
}

a:link {
	color: #0000cc;
}

.con span {
	font-family: arial, "Sim Sun";
	font-size: 12px;
	color: #666;
	height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	margin-top: 4px;
}

.abg {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	margin-right: 8px;
	overflow: hidden;
	background: url(images/tag.png) no-repeat left top;
}
</style>

</head>
<body id="wrapper">
	<div class="wrap-body">
		<header>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<ul class="breadcrumb">
							<li><a href="/">形形色色</a></li>
							<li id="registerButton"><a href="/register">注册</a></li>
							<li id="loginButton"><a href="/login">登录</a></li>
							<li><a href="/chongzhi">充值</a></li>
							<li><a href="http://www.luoboka.com/links/F787442B794187A9"
								target="_blank">购卡</a></li>
							<li style="float: right; display: none" id="exit"><a
								href="javascript:void(0)" onclick="exit()"> 退出</a></li>
							<li style="float: right;"><a id="accountInformation"
								href="/information" th:text="${session.account.email}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!--////////////////////////////////////Menu-->
		<div class="zerogrid">
			<div class="row">
				<a href="#" class="nav-toggle">点击展开导航</a>
				<nav class="cmn-tile-nav">
					<ul class="clearfix">
						<li class="colour-7"><a href="javascript:void(0)"
							rel="sidebar" onclick="alertUrl()">查看最新域名</a></li>
						<li class="colour-8"><a href="/tag">XXSS视频分类</a></li>
						<li class="colour-1"><a href="/listHotVideo/0">最多观看</a></li>
						<li class="colour-3"><a href="/listNewVideo/0">最新视频</a></li>
						<li class="colour-4"><a href="/listVideo/china/0">国产</a></li>
						<li class="colour-5"><a href="/listVideo/japan/0">日本</a></li>
						<li class="colour-6"><a href="/listVideo/america/0">欧美</a></li>
						<li class="colour-6"><a href="/av-girls">各国明星女优</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!--////////////////////////////////////Container-->
		<section id="container" class="index-page">
			<div class="wrap-container zerogrid">
				<div class="row">
					<div id="main-content" class="col-2-3">
						<div class="wrap-vid">
							<div class="con">
								<div>
									<a href="/listVideo/lushaonv/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/lushaonv/0" target="_blank">网红鹿少女</a> <br />
									<span>网红鹿少女全集</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/china/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/china/0" target="_blank">国产</a> <br />
									<span>经典国人自拍,网红,偷拍,91porn经典视频</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/japan/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/japan/0" target="_blank">日本</a> <br />
									<span>来自东瀛小国的视频</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/america/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/america/0" target="_blank">欧美</a> <br />
									<span>欧美各种知名女优,激情四射</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/dongman/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/dongman/0" target="_blank">动漫</a> <br />
									<span>动画作品,适合二次元口味的你</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/pornhub-asia/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/pornhub-asia/0" target="_blank">欧亚风情</a> <br />
									<span>视频多为欧亚自拍视频</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/yanshe/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/yanshe/0" target="_blank">颜射</a> <br />
									<span>就是要射在脸上</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/gangjiao/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/gangjiao/0" target="_blank">肛交</a> <br />
									<span>爆菊花 ^_^</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/qunjiao/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/qunjiao/0" target="_blank">群交</a> <br />
									<span>人多就是好玩~(*^▽^*)</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/mote/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/mote/0" target="_blank">模特</a> <br />
									<span>真实模特,热辣身材</span>
								</div>
							</div>
							<div class="con">
								<div>
									<a href="/listVideo/nenmo/0" class="abg yingxiao_center"
										target="_blank"></a>
								</div>
								<div>
									<a href="/listVideo/nenmo/0" target="_blank">嫩模</a> <br />
									<span>一个字,就是嫩</span>
								</div>
							</div>
						</div>
						<section class="vid-related">
							<div class="header">
								<h2>期待您的加盟</h2>
							</div>
							<div class="row">
								<!--Start Box-->
								<div id="owl-demo-1" class="owl-carousel"></div>
							</div>
						</section>
					</div>
					<div id="sidebar" class="col-1-3">

						<div class="widget wid-post">
							<div class="wid-header">
								<h5>广告招商</h5>
							</div>
							<div class="wid-content"></div>
						</div>

						<div class="widget wid-news">
							<div class="wid-header">
								<h5>广告招商</h5>
							</div>
							<div class="wid-content"></div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="zerogrid wrap-footer">
				<div class="row">
					<div class="col-1-4 col-footer-1">
						<div class="wrap-col">
							<a href="index.html" class="logo"><img src="/images/logo.png" /></a>
							<p>Have a good day</p>
						</div>
					</div>
					<div class="col-1-4 col-footer-2">
						<div class="wrap-col">
							<h3>Categories</h3>
							<ul>
								<li><a href="#">Action</a></li>
								<li><a href="#">Romantic</a></li>
								<li><a href="#">Cartoon</a></li>
								<li><a href="#">Zombies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-1-4 col-footer-3">
						<div class="wrap-col">
							<h3>Recent Posts</h3>
							<ul>
								<li><a href="#">New Videos</a></li>
								<li><a href="#">Featured Videos</a></li>
								<li><a href="#">Most Viewed Videos</a></li>
								<li><a href="#">Sports Videos</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Slider -->
		<script src="/js/demo.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/owl.carousel.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script
			src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
		<script
			src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {

				$("#owl-demo-1").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});
				$("#owl-demo-2").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});

			});
		</script>
	</div>
	
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>