<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8"></meta>
<title>形形色色华人社区</title>
<meta name="description" content="中国成人视频网站,自拍视频网站"></meta>
<meta name="author" content="www.xxss2018.com"></meta>

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1"></meta>

<!-- CSS
  ================================================== -->
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/util.js"></script>
<link rel="stylesheet" href="css/zerogrid.css"></link>
<link rel="stylesheet" href="css/style.css"></link>
<link rel="stylesheet" href="css/menu.css"></link>
<!-- Owl Carousel Assets -->
<link href="css/owl.carousel.css" rel="stylesheet"></link>
<link href="css/owl.theme.css" rel="stylesheet"></link>
<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css"></link>

<script type="text/javascript">
	/* <![CDATA[ */
	var url = window.location.href;
	var id = url.split("id=")[1];
	$
			.ajax({
				url : "/video/getVideo",
				data : {
					"id" : id
				},
				success : function(data) {

					var video = '<video id="my-video" class="video-js" controls="controls"'
							+ 'preload="none" width="90%"  data-setup="{}" src ='
							+ data.preUrl + '></video>';

					//$("#videodiv").append(video);
					$("#my-video").attr("src", data.preUrl)
					$("#video-name").text(data.title);
					$("#uploadtime").text(formatDateTime(data.uploadTime));
					$("#playtimes").html(
							'<i class="fa fa-heart"></i>' + data.playTimes);
					$("#owner").text(data.owner);
					document.title = data.title;

				}
			});
	/*]]> */
</script>
<link href="https://vjs.zencdn.net/7.0.5/video-js.css" rel="stylesheet"></link>
<style type="text/css">
header ul li a {
	color: #f18a07;
}

#my-video {
	left: 5%;
}
.video-height{
		height: 240px;
	}

@media ( min-width : 768px) {
	.video-height{
		height: 480px;
	}
}


</style>
<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script>
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/javascript">
	/* <![CDATA[ */
	var url = window.location.href;
	var id = url.split("id=")[1];
	$(document).ready(function() {
		$("img").addClass("img-rounded");
		$.ajax({
			url : "/video/updataPlayTimes",
			data : {
				"id" : id
			},
			type : "get",
			success : function() {
			}
		});

	});
	//将链接复制的粘贴版本
	function copyURL() {
		var oInput = document.createElement('input');
		oInput.value = url;
		document.body.appendChild(oInput);
		oInput.select(); // 选择对象
		document.execCommand("Copy"); // 执行浏览器复制命令
		oInput.className = 'oInput';
		oInput.style.display = 'none';
		alert('复制成功,您可以将此链接分享给您的好友,谢谢您对本站的支持');
	}

	/*]]> */
</script>


</head>
<body id="wrapper">
	<div class="wrap-body">
		<header>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<ul class="breadcrumb">
							<li><a href="/">形形色色</a></li>
							<li id="registerButton"><a href="/register">注册</a></li>
							<li id="loginButton"><a href="/login">登录</a></li>
							<li><a href="/tuiguang">推广</a></li>
							<li><a href="/chongzhi">充值</a></li>
							<li><a href="http://www.luoboka.com/links/F787442B794187A9"
								target="_blank">购卡</a></li>
							<li style="float: right; display: none" id="exit"><a
								href="javascript:void(0)" onclick="exit()"> 退出</a></li>
							<li style="float: right;"><a id="accountInformation"
								href="/information" th:text="${session.account.email}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!--////////////////////////////////////Menu-->
		<div class="zerogrid">
			<div class="row">
				<a href="#" class="nav-toggle">点击展开导航</a>
				<nav class="cmn-tile-nav">
					<ul class="clearfix">
						<li class="colour-7"><a href="javascript:void(0)"
							rel="sidebar" onclick="alertUrl()">查看最新域名</a></li>
						<li class="colour-8"><a href="/tag">XXSS视频分类</a></li>
						<li class="colour-1"><a href="/listHotVideo/0">最多观看</a></li>
						<li class="colour-3"><a href="/listNewVideo/0">最新视频</a></li>
						<li class="colour-4"><a href="/listVideo/china/0">国产</a></li>
						<li class="colour-5"><a href="/listVideo/japan/0">日本</a></li>
						<li class="colour-6"><a href="/listVideo/america/0">欧美</a></li>
						<li class="colour-6"><a href="/av-girls">各国明星女优</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!--////////////////////////////////////Container-->
		<section id="container" class="index-page">
			<div class="wrap-container zerogrid">
				<div class="row">
					<div id="main-content" class="col-2-3">
						<div class="wrap-vid" id="videodiv" style="text-align: center;">
							<h3>形形色色无限观影会员仅25元每月,每日更新,良心小站</h3></div>
						<video controls="controls" id="my-video" class="video-js video-height" src=""
							width="90%"  data-setup="{}"></video>
						<div class="row">
							<div class="share">
								<div class="col-1-12">
									<div class="wrap-col">
										<div class="box-share">
											<a href="javascript:void(0)" onclick="copyURL()"> <i
												class="fa fa-comments"></i> <span>点击复制链接,分享给好友</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h1 class="vid-name" id="video-name"></h1>
						<div class="info">
							<h5>
								By <a id="owner"></a>
							</h5>
							<span id="uploadtime"><i class="fa fa-calendar"></i>25/3/2015</span>
							<span id="playtimes"><i class="fa fa-heart"></i></span>
						</div>
						<p>如果您觉得影片好,请将视频链接发送给朋友,使我们的形形色色社区更加强大!谢谢您的关注!</p>
						<section class="vid-related">
							<div class="header">
								<h2>期待您的加盟</h2>
							</div>
							<div class="row">
								<!--Start Box-->
								<div id="owl-demo-1" class="owl-carousel"></div>
							</div>
						</section>
					</div>
					<div id="sidebar" class="col-1-3">

						<div class="widget wid-post">
							<div class="wid-header">
								<h5>广告招商</h5>
							</div>
							<div class="wid-content"></div>
						</div>

						<div class="widget wid-news">
							<div class="wid-header">
								<h5>广告招商</h5>
							</div>
							<div class="wid-content"></div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="zerogrid wrap-footer">
				<div class="row">
					<div class="col-1-4 col-footer-1">
						<div class="wrap-col">
							<a href="index.html" class="logo"><img src="/images/logo.png" /></a>
							<p>Have a good day</p>
						</div>
					</div>
					<div class="col-1-4 col-footer-2">
						<div class="wrap-col">
							<h3>Categories</h3>
							<ul>
								<li><a href="#">Action</a></li>
								<li><a href="#">Romantic</a></li>
								<li><a href="#">Cartoon</a></li>
								<li><a href="#">Zombies</a></li>
							</ul>
						</div>
					</div>
					<div class="col-1-4 col-footer-3">
						<div class="wrap-col">
							<h3>Recent Posts</h3>
							<ul>
								<li><a href="#">New Videos</a></li>
								<li><a href="#">Featured Videos</a></li>
								<li><a href="#">Most Viewed Videos</a></li>
								<li><a href="#">Sports Videos</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<!-- Slider -->
		<script src="/js/demo.js"></script>

		<script src="/js/classie.js"></script>
		<script src="/js/owl.carousel.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<script
			src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
		<script
			src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {

				$("#owl-demo-1").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});
				$("#owl-demo-2").owlCarousel({
					items : 4,
					lazyLoad : true,
					navigation : true
				});

			});
		</script>
	</div>
<script id='mob' type='text/javascript' charset='utf-8' src='http://k.xmtsyg.com/h.php?pid=1160'></script>	
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1274363830'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274363830%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>